@{
    Layout = "~/Views/Shared/DemoHomeLayout.cshtml";
}
<html>

<body>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="panel  table-responsive">
                <div class="panel-heading dark-overlay panel_b"><svg class="glyph stroked clipboard-with-paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg>Latest Admin</div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td><b>Name</b></td>
                            <td><b>User Name</b></td>
                            <td><b>Email</b></td>
                            <td><b>Status</b></td>
                            <td><b>CreatedAt</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Test Name</b></td>
                            <td><b>Test User Name</b></td>
                            <td><b>TestEmail@gmail.com</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>Test Name</b></td>
                            <td><b>Test User Name</b></td>
                            <td><b>TestEmail@gmail.com</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>Test Name</b></td>
                            <td><b>Test User Name</b></td>
                            <td><b>TestEmail@gmail.com</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>Test Name</b></td>
                            <td><b>Test User Name</b></td>
                            <td><b>TestEmail@gmail.com</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>Test Name</b></td>
                            <td><b>Test User Name</b></td>
                            <td><b>TestEmail@gmail.com</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>Test Name</b></td>
                            <td><b>Test User Name</b></td>
                            <td><b>TestEmail@gmail.com</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>Test Name</b></td>
                            <td><b>Test User Name</b></td>
                            <td><b>TestEmail@gmail.com</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel  table-responsive">
                <div class="panel-heading dark-overlay panel_b"><svg class="glyph stroked clipboard-with-paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg>Latest Location</div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td><b>Location Name</b></td>
                            <td><b>Status</b></td>
                            <td><b>Location URL</b></td>
                            <td><b>CreatedAt</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Test Location Name</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>Test Location URL</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>Test Location Name</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>Test Location URL</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>Test Location Name</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>Test Location URL</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>Test Location Name</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>Test Location URL</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>Test Location Name</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>Test Location URL</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>Test Location Name</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>Test Location URL</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                    </tbody>
                </table>


            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel  table-responsive">
                <div class="panel-heading dark-overlay panel_b"><svg class="glyph stroked clipboard-with-paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg>Business Log</div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td><b>Business Name</b></td>
                            <td><b>Website</b></td>
                            <td><b>Business URL</b></td>
                            <td><b>Phone Number</b></td>
                            <td><b>Status</b></td>
                            <td><b>Location</b></td>
                            <td><b>Address</b></td>
                            <td><b>City</b></td>
                            <td><b>State</b></td>
                            <td><b>Zipcode</b></td>
                            <td><b>CreatedAt</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>TestBusinessName</b></td>
                            <td><b>TestWebsite</b></td>
                            <td><b>TestBusinessURL</b></td>
                            <td><b>TestPhoneNumber</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>TestLocation</b></td>
                            <td><b>TestAddress</b></td>
                            <td><b>TestCity</b></td>
                            <td><b>TestState</b></td>
                            <td><b>Zipcode</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>TestBusinessName</b></td>
                            <td><b>TestWebsite</b></td>
                            <td><b>TestBusinessURL</b></td>
                            <td><b>TestPhoneNumber</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>TestLocation</b></td>
                            <td><b>TestAddress</b></td>
                            <td><b>TestCity</b></td>
                            <td><b>TestState</b></td>
                            <td><b>Zipcode</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>TestBusinessName</b></td>
                            <td><b>TestWebsite</b></td>
                            <td><b>TestBusinessURL</b></td>
                            <td><b>TestPhoneNumber</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>TestLocation</b></td>
                            <td><b>TestAddress</b></td>
                            <td><b>TestCity</b></td>
                            <td><b>TestState</b></td>
                            <td><b>Zipcode</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>TestBusinessName</b></td>
                            <td><b>TestWebsite</b></td>
                            <td><b>TestBusinessURL</b></td>
                            <td><b>TestPhoneNumber</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>TestLocation</b></td>
                            <td><b>TestAddress</b></td>
                            <td><b>TestCity</b></td>
                            <td><b>TestState</b></td>
                            <td><b>Zipcode</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>TestBusinessName</b></td>
                            <td><b>TestWebsite</b></td>
                            <td><b>TestBusinessURL</b></td>
                            <td><b>TestPhoneNumber</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>TestLocation</b></td>
                            <td><b>TestAddress</b></td>
                            <td><b>TestCity</b></td>
                            <td><b>TestState</b></td>
                            <td><b>Zipcode</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                        <tr>
                            <td><b>TestBusinessName</b></td>
                            <td><b>TestWebsite</b></td>
                            <td><b>TestBusinessURL</b></td>
                            <td><b>TestPhoneNumber</b></td>
                            <td><b>Active/Deactive</b></td>
                            <td><b>TestLocation</b></td>
                            <td><b>TestAddress</b></td>
                            <td><b>TestCity</b></td>
                            <td><b>TestState</b></td>
                            <td><b>Zipcode</b></td>
                            <td><b>12/31/2018</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>